.main-button {
  padding: 0px 30px;
  height: 48px;
  border-radius: 30px;
  border: none;
  gap: 10px;
  cursor: pointer;
}

.contactButtonDark {
  background-color: var(--colour-main-1);
  border: 2px solid var(--colour-main-2);
  color: var(--colour-main-2);
  font-family: 'Sora', sans-serif;
  transition: 0.3s;
}

.contactButtonDark:hover {
  background-color: var(--colour-main-2);
  color: #1f1f1f;
  transition: 0.3s;
  font-weight: 600;
}

.contactButtonLight {
  background-color: var(--colour-main-2);
  border: 2px solid var(--colour-main-1);
  color: var(--colour-main-1);
  font-family: 'Sora', sans-serif;
  transition: 0.3s;
}

.contactButtonLight:hover {
  background-color: var(--colour-main-1);
  color: var(--colour-main-2);
  transition: 0.3s;
  font-weight: 600;
}

.languageSwitcher {
  color: var(--colour-main-2);
  background-color: var(--colour-main-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 3px;
  padding: 0px 15px;
  border-radius: 0;
  font-family: var(--subtitle-font);
  font-weight: 600;
}
.languageSwitcher:nth-child(2) {
  border-right: 1px solid var(--colour-main-2);
}
